name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run ESLint
      run: | 
        cd frontend
        yarn add eslint -g
        yarn add eslint-plugin-react eslint-config-airbnb-typescript  --save-dev 
        npx eslint --ext .ts,.tsx src/
        cd ../backend
        npx eslint --ext .ts,.tsx src/
        cd ..
    - name: Run tests
      run: |
        cd frontend
        yarn test
        cd ../backend
        yarn test
